a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_7e5a8a0 a { text-decoration: none; }
#menu_7e5a8a0_pane { background-color: #E6E6E6; border: 1px solid #E6E6E6; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_7e5a8a0_hr { background-color: #E6E6E6; height: 1px; border: none; }
#menu_7e5a8a0_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_7e5a8a0_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_7e5a8a0_entry:hover span { color:#FFFFFF !important; }
		.menu_7e5a8a0_mainMenuEntry { text-align: center; }
		.menu_7e5a8a0_mainMenuEntry:hover {	background-color:#282828; }
		.menu_7e5a8a0_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_7e5a8a0 .mobileEntry { display: none; } 
		#menu_7e5a8a0 .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_7e5a8a0 .mobileEntry { display: block; } 
			#menu_7e5a8a0 .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_52d54537 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:351px; background:none;  }
#menu_7e5a8a0 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background:none; border: 1px solid #A0A0A0;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle2 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:67px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:19px;  }
.textstyle3 { font-size:12pt; font-family:Tahoma, Geneva, sans-serif; color:#403EBF; font-weight:bold;  white-space: nowrap; }
.menustyle3 { position:absolute; width:69px; height:38px; left:77px;  }
.textstyle4 { font-size:12pt; font-family:Tahoma, Geneva, sans-serif; color:#000000; font-weight:bold; text-decoration:underline;  white-space: nowrap; }
.menustyle4 { position:absolute; width:85px; height:38px; left:146px;  }
.menustyle5 { position:absolute; width:87px; height:38px; left:231px;  }
.menustyle6 { position:absolute; width:83px; height:38px; left:318px;  }
.menustyle7 { position:absolute; width:62px; height:38px; left:401px;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#403EBF; font-weight:bold;  white-space: nowrap; }
#container_751b4f71 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:800px; background-color:#007180; background-image: url(rc_images/p_20171115_075645_hdr_1200x675.jpg); background-position:top center; background-size:cover;  }
#container_751b4f71_padding { margin: 10px; display: block;  }
#container_3886a503 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:80px; background:none;  }
#container_3886a503_padding { margin: 10px; display: block;  }
#container_66281d83 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_66281d83_padding { margin: 10px; display: block;  }
#container_20ee5ed8 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_20ee5ed8_padding { margin: 10px; display: block;  }
.textstyle6 { text-align:center; }
#text_45a28d37 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle7 { font-size:32pt; font-family:Tahoma, Geneva, sans-serif; color:#AFAFAF; font-weight:bold; text-shadow: 2px 2px 2px #000000;  }
#container_396dd041 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:53px; background:none;  }
#container_396dd041_padding { margin: 10px; display: block;  }
#text_4568ff1d { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle8 { font-size:16pt; font-family:Tahoma, Geneva, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px #000000;  }
#container_4f851483 { vertical-align: top; position:relative; display: inline-block; width:34%; min-height:150px; background:none;  }
#container_4f851483_padding { margin: 10px; display: block;  }
#text_7ecc029b { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_1f0e9b3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:53px; background:none;  }
#container_1f0e9b3_padding { margin: 10px; display: block;  }
#text_4cc3ae0c { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_1effd7ca { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_1effd7ca_padding { margin: 10px; display: block;  }
#text_55ac25e5 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_54f9eef8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:53px; background:none;  }
#container_54f9eef8_padding { margin: 10px; display: block;  }
#text_2be7bc8d { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
@media only screen and (max-width: 600px)
{
		#container_20ee5ed8 { width:100%;  }
		#container_4f851483 { width:100%;  }
		#container_1effd7ca { width:100%;  }
}
