a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_45900542 a { text-decoration: none; }
#menu_45900542_pane { background-color: #E6E6E6; border: 1px solid #E6E6E6; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_45900542_hr { background-color: #E6E6E6; height: 1px; border: none; }
#menu_45900542_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_45900542_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_45900542_entry:hover span { color:#FFFFFF !important; }
		.menu_45900542_mainMenuEntry { text-align: center; }
		.menu_45900542_mainMenuEntry:hover {	background-color:#282828; }
		.menu_45900542_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_45900542 .mobileEntry { display: none; } 
		#menu_45900542 .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_45900542 .mobileEntry { display: block; } 
			#menu_45900542 .normalEntry { display: none; } 
		}
#img_7b615f0f:hover { filter: brightness( 80%);  } 
#img_320ee2cb:hover { filter: brightness( 80%);  } 
#img_6665e95d:hover { filter: brightness( 80%);  } 
#img_7fa5808c:hover { filter: brightness( 80%);  } 
#img_4faf1adb:hover { filter: brightness( 80%);  } 
#img_5d90210:hover { filter: brightness( 80%);  } 
#img_222e76b:hover { filter: brightness( 80%);  } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#menu_45900542 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background:none; border: 1px solid #A0A0A0;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle2 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:65px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:19px;  }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#403EBF; font-weight:bold;  white-space: nowrap; }
.menustyle3 { position:absolute; width:66px; height:38px; left:75px;  }
.menustyle4 { position:absolute; width:83px; height:38px; left:141px;  }
.menustyle5 { position:absolute; width:83px; height:38px; left:224px;  }
.menustyle6 { position:absolute; width:80px; height:38px; left:307px;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold; text-decoration:underline;  white-space: nowrap; }
.menustyle7 { position:absolute; width:62px; height:38px; left:387px;  }
#container_4581182d { vertical-align: top; position:relative; display: inline-block; width:101%; min-height:800px; background-color:#007180; background-image: url(rc_images/1645920671278.jpg); background-position:top left; background-size:cover;  }
#container_423e072a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:80px; background:none;  }
#container_423e072a_padding { margin: 10px; display: block;  }
#container_51020aee { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:10px; background:none;  }
#container_51020aee_padding { margin: 10px; display: block;  }
.textstyle5 { text-align:center; }
#text_791326b0 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle6 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold; text-shadow: 2px 2px 2px #000000;  }
#container_338048cb { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:25px; background:none;  }
#container_338048cb_padding { margin: 10px; display: block;  }
#img_21c593aa { vertical-align: bottom; position:relative; display: inline-block; width:5%; background:none; height:auto;  }
#img_7c427112 { vertical-align: bottom; position:relative; display: inline-block; width:1%; background:none; height:auto;  }
#img_6cee6b5e { vertical-align: bottom; position:relative; display: inline-block; width:5%; background:none; height:auto;  }
#container_57594168 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:36px; background:none;  }
#container_57594168_padding { margin: 10px; display: block;  }
#text_57da07d8 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px #000000;  }
#img_557d032a { vertical-align: bottom; position:relative; display: inline-block; width:5%; background:none; height:auto;  }
#container_238231e9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:10px; background:none;  }
#container_238231e9_padding { margin: 10px; display: block;  }
#text_3310436c { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#img_3f2be38f { vertical-align: bottom; position:relative; display: inline-block; width:5%; background:none; height:auto;  }
#container_4c93732e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:71px; background:none;  }
#container_4c93732e_padding { margin: 10px; display: block;  }
#text_7cc28000 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_6036d6 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:10px; background:none;  }
#container_6036d6_padding { margin: 10px; display: block;  }
#button_1cab128d { vertical-align: bottom; border-radius: 5px; position:relative; display: inline-block; width:284px; height:73px; background-color:#7D4040; background: linear-gradient(to bottom,#7D4040, #381C1C 50%, #2B1616 50%, #1F1010); box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle8 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px #000000;  }
#container_10809333 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:45px; background:none;  }
#container_10809333_padding { margin: 10px; display: block;  }
#img_7b615f0f { vertical-align: top; position:relative; display: inline-block; width:5%; background:none; height:auto;  }
#img_f8973fc { vertical-align: bottom; position:relative; display: inline-block; width:1%; background:none; height:auto;  }
#img_320ee2cb { vertical-align: bottom; position:relative; display: inline-block; width:5%; background:none; height:auto;  }
#img_529c6a87 { vertical-align: bottom; position:relative; display: inline-block; width:1%; background:none; height:auto;  }
#img_6665e95d { vertical-align: bottom; position:relative; display: inline-block; width:5%; background:none; height:auto;  }
#img_36a93bf7 { vertical-align: bottom; position:relative; display: inline-block; width:1%; background:none; height:auto;  }
#img_7fa5808c { vertical-align: bottom; position:relative; display: inline-block; width:5%; background:none; height:auto;  }
#img_4df6204e { vertical-align: bottom; position:relative; display: inline-block; width:1%; background:none; height:auto;  }
#img_4faf1adb { vertical-align: bottom; position:relative; display: inline-block; width:5%; background:none; height:auto;  }
#img_7b7b7549 { vertical-align: bottom; position:relative; display: inline-block; width:1%; background:none; height:auto;  }
#img_5d90210 { vertical-align: bottom; position:relative; display: inline-block; width:5%; background:none; height:auto;  }
#img_9d3ea0e { vertical-align: bottom; position:relative; display: inline-block; width:1%; background:none; height:auto;  }
#img_222e76b { vertical-align: bottom; position:relative; display: inline-block; width:5%; background:none; height:auto;  }
#img_324f1869 { vertical-align: bottom; position:relative; display: inline-block; width:1%; background:none; height:auto;  }
#img_44b0d5c5 { vertical-align: bottom; position:relative; display: inline-block; width:5%; background:none; height:auto;  }
