a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_4b9a073a a { text-decoration: none; }
#menu_4b9a073a_pane { background-color: #E6E6E6; border: 1px solid #E6E6E6; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_4b9a073a_hr { background-color: #E6E6E6; height: 1px; border: none; }
#menu_4b9a073a_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_4b9a073a_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_4b9a073a_entry:hover span { color:#FFFFFF !important; }
		.menu_4b9a073a_mainMenuEntry { text-align: center; }
		.menu_4b9a073a_mainMenuEntry:hover {	background-color:#282828; }
		.menu_4b9a073a_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_4b9a073a .mobileEntry { display: none; } 
		#menu_4b9a073a .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_4b9a073a .mobileEntry { display: block; } 
			#menu_4b9a073a .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_77b764d8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:351px; background:none;  }
#menu_4b9a073a { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background:none; border: 1px solid #A0A0A0;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle2 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:65px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:19px;  }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold; text-decoration:underline;  white-space: nowrap; }
.menustyle3 { position:absolute; width:66px; height:38px; left:75px;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#403EBF; font-weight:bold;  white-space: nowrap; }
.menustyle4 { position:absolute; width:83px; height:38px; left:141px;  }
.menustyle5 { position:absolute; width:80px; height:38px; left:224px;  }
#container_1364a63e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:800px; background-color:#FFFFFF; background-image: url(rc_images/p_20171115_160043_bf_1200x900.jpg); background-position:top center; background-size:cover;  }
#container_1364a63e_padding { margin: 10px; display: block;  }
#container_39d385 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:274px; background:none;  }
#container_39d385_padding { margin: 10px; display: block;  }
.textstyle5 { text-align:center; }
#text_1aa02385 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle6 { font-size:48pt; font-family:Tahoma, Geneva, sans-serif; color:#FFFFFF; font-weight:bold; text-shadow: 2px 2px 2px #000000;  }
#container_3433bcff { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:68px; background:none;  }
#container_3433bcff_padding { margin: 10px; display: block;  }
#container_30349247 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_30349247_padding { margin: 10px; display: block;  }
#text_15ca4f82 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle7 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px #000000;  }
