a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_b311b30 a { text-decoration: none; }
#menu_b311b30_pane { background-color: #E6E6E6; border: 1px solid #E6E6E6; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_b311b30_hr { background-color: #E6E6E6; height: 1px; border: none; }
#menu_b311b30_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_b311b30_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_b311b30_entry:hover span { color:#FFFFFF !important; }
		.menu_b311b30_mainMenuEntry { text-align: center; }
		.menu_b311b30_mainMenuEntry:hover {	background-color:#282828; }
		.menu_b311b30_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_b311b30 .mobileEntry { display: none; } 
		#menu_b311b30 .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_b311b30 .mobileEntry { display: block; } 
			#menu_b311b30 .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_1b679262 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:351px; background:none;  }
#menu_b311b30 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background:none; border: 1px solid #A0A0A0;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle2 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:65px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:19px;  }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#403EBF; font-weight:bold;  white-space: nowrap; }
.menustyle3 { position:absolute; width:66px; height:38px; left:75px;  }
.menustyle4 { position:absolute; width:83px; height:38px; left:141px;  }
.menustyle5 { position:absolute; width:83px; height:38px; left:224px;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold; text-decoration:underline;  white-space: nowrap; }
.menustyle6 { position:absolute; width:80px; height:38px; left:307px;  }
.menustyle7 { position:absolute; width:62px; height:38px; left:387px;  }
#container_78289245 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:800px; background-color:#007180; background-image: url(rc_images/img_20240529_142619_1200x900.jpg); background-position:top center; background-size:cover;  }
#container_78289245_padding { margin: 10px; display: block;  }
#container_50c152 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_50c152_padding { margin: 10px; display: block;  }
.textstyle5 { text-align:center; }
#text_24493f6c { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle6 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold; text-shadow: 2px 2px 2px #FFFFFF;  }
#container_5bd5f3a7 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:25px; background:none;  }
#container_5bd5f3a7_padding { margin: 10px; display: block;  }
#container_38ffdf06 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:612px; background:none;  }
#container_38ffdf06_padding { margin: 10px; display: block;  }
#container_5db600f5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:576px; background:none;  }
#container_5db600f5_padding { margin: 10px; display: block;  }
#container_26814feb { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:33px; background:none;  }
#container_26814feb_padding { margin: 10px; display: block;  }
#text_219c7478 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle7 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold; text-shadow: 2px 2px 2px #FFFFFF;  }
#container_7b786532 { vertical-align: top; position:relative; display: inline-block; width:75%; min-height:33px; background:none;  }
#container_7b786532_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-style:italic; font-weight:bold; text-shadow: 2px 2px 2px #FFFFFF;  }
#container_5676e254 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:33px; background:none;  }
#container_5676e254_padding { margin: 10px; display: block;  }
#text_7944c2d2 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_6c5a1430 { vertical-align: top; position:relative; display: inline-block; width:75%; min-height:33px; background:none;  }
#container_6c5a1430_padding { margin: 10px; display: block;  }
#container_62785be2 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:33px; background:none;  }
#container_62785be2_padding { margin: 10px; display: block;  }
#text_110f234 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_7d4ca78d { vertical-align: top; position:relative; display: inline-block; width:75%; min-height:33px; background:none;  }
#container_7d4ca78d_padding { margin: 10px; display: block;  }
#container_7a76d2b1 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:33px; background:none;  }
#container_7a76d2b1_padding { margin: 10px; display: block;  }
#text_203a3bda { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_7918f615 { vertical-align: top; position:relative; display: inline-block; width:75%; min-height:33px; background:none;  }
#container_7918f615_padding { margin: 10px; display: block;  }
#container_27af681b { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:33px; background:none;  }
#container_27af681b_padding { margin: 10px; display: block;  }
#text_7bb91f7 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_162c04d3 { vertical-align: top; position:relative; display: inline-block; width:75%; min-height:33px; background:none;  }
#container_162c04d3_padding { margin: 10px; display: block;  }
#container_334c4efe { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:33px; background:none;  }
#container_334c4efe_padding { margin: 10px; display: block;  }
#text_262538db { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_282c87da { vertical-align: top; position:relative; display: inline-block; width:75%; min-height:33px; background:none;  }
#container_282c87da_padding { margin: 10px; display: block;  }
#container_20c8ecd1 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:33px; background:none;  }
#container_20c8ecd1_padding { margin: 10px; display: block;  }
#text_6fafad2d { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_fc3604d { vertical-align: top; position:relative; display: inline-block; width:75%; min-height:33px; background:none;  }
#container_fc3604d_padding { margin: 10px; display: block;  }
#container_13992f32 { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:33px; background:none;  }
#container_13992f32_padding { margin: 10px; display: block;  }
#text_4790cf17 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_475e12b4 { vertical-align: top; position:relative; display: inline-block; width:75%; min-height:33px; background:none;  }
#container_475e12b4_padding { margin: 10px; display: block;  }
#container_7dc472de { vertical-align: top; position:relative; display: inline-block; width:25%; min-height:33px; background:none;  }
#container_7dc472de_padding { margin: 10px; display: block;  }
#text_252250f1 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_198c0cd0 { vertical-align: top; position:relative; display: inline-block; width:75%; min-height:33px; background:none;  }
#container_198c0cd0_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 600px)
{
		#container_26814feb { width:100%;  }
		#container_7b786532 { width:100%;  }
		#container_5676e254 { width:100%;  }
		#container_6c5a1430 { width:100%;  }
		#container_62785be2 { width:100%;  }
		#container_7d4ca78d { width:100%;  }
		#container_7a76d2b1 { width:100%;  }
		#container_7918f615 { width:100%;  }
		#container_27af681b { width:100%;  }
		#container_162c04d3 { width:100%;  }
		#container_334c4efe { width:100%;  }
		#container_282c87da { width:100%;  }
		#container_20c8ecd1 { width:100%;  }
		#container_fc3604d { width:100%;  }
		#container_13992f32 { width:100%;  }
		#container_475e12b4 { width:100%;  }
		#container_7dc472de { width:100%;  }
		#container_198c0cd0 { width:100%;  }
}
