h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_54da2d31 a { text-decoration: none; }
#menu_54da2d31_pane { background-color: #E6E6E6; border: 1px solid #E6E6E6; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_54da2d31_hr { background-color: #E6E6E6; height: 1px; border: none; }
#menu_54da2d31_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_54da2d31_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_54da2d31_entry:hover span { color:#FFFFFF !important; }
		.menu_54da2d31_mainMenuEntry { text-align: center; }
		.menu_54da2d31_mainMenuEntry:hover {	background-color:#282828; }
		.menu_54da2d31_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_54da2d31 .mobileEntry { display: none; } 
		#menu_54da2d31 .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_54da2d31 .mobileEntry { display: block; } 
			#menu_54da2d31 .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#menu_54da2d31 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background:none; border: 1px solid #A0A0A0;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle2 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:67px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:19px;  }
.textstyle3 { font-size:12pt; font-family:Tahoma, Geneva, sans-serif; color:#403EBF; font-weight:bold;  white-space: nowrap; }
.menustyle3 { position:absolute; width:69px; height:38px; left:77px;  }
.menustyle4 { position:absolute; width:85px; height:38px; left:146px;  }
.textstyle4 { font-size:12pt; font-family:Tahoma, Geneva, sans-serif; color:#403EBF; font-weight:bold; text-decoration:underline;  white-space: nowrap; }
.menustyle5 { position:absolute; width:87px; height:38px; left:231px;  }
.menustyle6 { position:absolute; width:83px; height:38px; left:318px;  }
.menustyle7 { position:absolute; width:62px; height:38px; left:401px;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#403EBF; font-weight:bold;  white-space: nowrap; }
.textstyle6 { font-size:12pt; font-family:Tahoma, Geneva, sans-serif; color:#000000; font-weight:bold; text-decoration:underline;  white-space: nowrap; }
#container_37bc9303 { vertical-align: top; border-radius: 15px; position:relative; display: inline-block; width:101%; min-height:1125px; background-color:#007180; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_2bb4b5b { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:900px; background-color:#FFFFFF;  }
#container_2bb4b5b_padding { margin: 10px; display: block;  }
#container_33094900 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_33094900_padding { margin: 10px; display: block;  }
#text_60253860 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle7 { font-size:24pt; font-family:Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif; color:#000000; font-weight:bold; text-decoration:underline;  }
#container_204ebb77 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_204ebb77_padding { margin: 10px; display: block;  }
#text_62e5249a { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle8 { font-size:14pt; font-family:Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif; color:#007180;  }
#container_2ea9fa03 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; background:none;  }
#container_2ea9fa03_padding { margin: 10px; display: block;  }
#text_6288813e { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle9 { font-size:14pt; font-family:Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif; color:#000000;  }
.textstyle10 { font-size:12pt; font-family:Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif; color:#000000;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_713f12ac { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:22px; background-color:#FFFFFF; background: linear-gradient(to bottom, #007180, #FFFFFF);  }
#container_713f12ac_padding { margin: 10px; display: block;  }
#heading_5e2cbc89 { vertical-align: bottom; position:relative; display: inline-block; width:240px; background:none; font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
#text_551512ce { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle12 { font-size:10pt; font-family:Tahoma, Geneva, sans-serif; color:#000000;  }
#container_1424cb2f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:20px; background:none;  }
#container_1424cb2f_padding { margin: 10px; display: block;  }
#container_6890feb7 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:22px; background-color:#FFFFFF; background: linear-gradient(to bottom, #007180, #FFFFFF);  }
#container_6890feb7_padding { margin: 10px; display: block;  }
#heading_27e60576 { vertical-align: bottom; position:relative; display: inline-block; width:240px; background:none; font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
#container_6638b3c9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:129px; background:none;  }
#container_6d7ce104 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_6d7ce104_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_6e6b2e16 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle13 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_6fa0473a { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_6fa0473a_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_514082f6 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle14 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_6b81a713 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_7d32d19c { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_7d32d19c_padding { margin: 0px 0px 0px 10px;display: block;  }
.textstyle15 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#007180;  }
#container_c10ad61 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_4af5b097 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_4af5b097_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_1905720 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_1905720_padding { margin: 10px; display: block;  }
#text_135aade9 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_5364184 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:129px; background:none;  }
#container_742c3488 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_742c3488_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_31a53c4 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_50ab87c3 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_50ab87c3_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_41a92fa1 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_4a125a81 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_6db35817 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_6db35817_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_58fa9c31 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_7bae9542 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_7bae9542_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_3e475d8b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_3e475d8b_padding { margin: 10px; display: block;  }
#text_680c2b22 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_35075a7d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:112px; background:none;  }
#container_151b722e { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_151b722e_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_ebab65e { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_1f6d7497 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_1f6d7497_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_26e47bb { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_7d79ece9 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_59052a5d { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_59052a5d_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_60e10bc8 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_3c39ae7e { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_3c39ae7e_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_34ff6d8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_34ff6d8_padding { margin: 10px; display: block;  }
#text_2949615 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_35acf883 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:109px; background:none;  }
#container_6a7e8b4b { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_6a7e8b4b_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_1b15aec3 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_3e43e387 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_3e43e387_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_3f6d636e { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_3eff0161 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_6e3344de { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_6e3344de_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_4f714430 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_206a922f { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_206a922f_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_2c1048b8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_2c1048b8_padding { margin: 10px; display: block;  }
#text_c9c1858 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_4c44c11b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:117px; background:none;  }
#container_2112d6c2 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_2112d6c2_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_26a85f6a { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_71678dc6 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_71678dc6_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_bc4eec { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_56a492b7 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_27d16f44 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_27d16f44_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_4a5b021e { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_a66583e { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_a66583e_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_55a59750 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_55a59750_padding { margin: 10px; display: block;  }
#text_559f0ac3 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_6ad25f56 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:154px; background:none;  }
#container_27daf867 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_27daf867_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_223477ba { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_4335d4e4 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_4335d4e4_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_4904cf16 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_329543a5 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_56416794 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_56416794_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_3f0d010 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_61f4f104 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_61f4f104_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_2445a79d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_2445a79d_padding { margin: 10px; display: block;  }
#text_10027757 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_6d21a2f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:154px; background:none;  }
#container_2c723384 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_2c723384_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_58da4079 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_3a18f300 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_3a18f300_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_4607c7fd { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_c7436d1 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_18a847f3 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_18a847f3_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_306d30da { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_c7399d3 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_c7399d3_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_68c878c5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_68c878c5_padding { margin: 10px; display: block;  }
#text_1a1b41eb { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_1d324a71 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:154px; background:none;  }
#container_5e03f4ed { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_5e03f4ed_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_d6146a4 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_143f7539 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_143f7539_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_76ed5c58 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_3caa0f6c { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_47e4a09d { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_47e4a09d_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_11dca977 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_36fe8a2a { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_36fe8a2a_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_2fe87940 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_2fe87940_padding { margin: 10px; display: block;  }
#text_24a2ee8e { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_16b9eb9f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:154px; background:none;  }
#container_68bc2804 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_68bc2804_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_74871c67 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_48e93e35 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_48e93e35_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_730c10be { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_d26171 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_20a99b91 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_20a99b91_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_71d1679c { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_3a12824f { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_3a12824f_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_4d16e285 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_4d16e285_padding { margin: 10px; display: block;  }
#text_19fb19a7 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_67ef4236 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:112px; background:none;  }
#container_3b65f901 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_3b65f901_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_d27b19f { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_5b39beea { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_5b39beea_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_174c9309 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_7067e56a { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_4325d9ee { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_4325d9ee_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_5130cc84 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_11e770b { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_11e770b_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_4ec98c1a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_4ec98c1a_padding { margin: 10px; display: block;  }
#text_7cf0bdee { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_3882ee8f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:71px; background:none;  }
#container_2c4be411 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_2c4be411_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_f4d5f26 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_accd918 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_accd918_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_3948c601 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_106da3b0 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_539a7af6 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_539a7af6_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_60d386e7 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_57541981 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_57541981_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_1df0e757 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:23px; background:none;  }
#container_1df0e757_padding { margin: 10px; display: block;  }
#text_38885aaa { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_1953c226 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:71px; background:none;  }
#container_55c71713 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_55c71713_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_22675379 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_335dd946 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_335dd946_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_61ca5539 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_64986664 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_70eccfe3 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_70eccfe3_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_5b75ff07 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_4bdda0 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_4bdda0_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_59996c55 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_59996c55_padding { margin: 10px; display: block;  }
#text_1783f028 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_75ab187 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:71px; background:none;  }
#container_7c0b67c5 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_7c0b67c5_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_4580517e { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_253f98d4 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_253f98d4_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_411d7f49 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_2d037ea1 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_fb26e2a { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_fb26e2a_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_1a05294 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_7fc802f4 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_7fc802f4_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_6badb493 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:28px; background:none;  }
#container_6badb493_padding { margin: 10px; display: block;  }
#text_5784e51b { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_7626458d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:71px; background:none;  }
#container_3bf6055c { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_3bf6055c_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_7e144f7d { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_43a111 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_43a111_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_7dde52ef { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_32ff298e { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_1716d80c { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_1716d80c_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_4271148e { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_1ec77bca { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_1ec77bca_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_7fb1f1c4 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:28px; background:none;  }
#container_7fb1f1c4_padding { margin: 10px; display: block;  }
#text_96ba3cb { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_db97b84 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:20px; background:none;  }
#container_db97b84_padding { margin: 10px; display: block;  }
#container_f15c583 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:22px; background-color:#FFFFFF; background: linear-gradient(to bottom, #007180, #FFFFFF);  }
#container_f15c583_padding { margin: 10px; display: block;  }
#heading_50b952bf { vertical-align: bottom; position:relative; display: inline-block; width:240px; background:none; font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
#container_7950073f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:45px; background:none;  }
#container_5525182 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_5525182_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_60ca58ab { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_1e35274a { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_1e35274a_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_190d9af3 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_6b318429 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_3b44be49 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_3b44be49_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_7c773210 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:39px; background:none;  }
#container_3317ed50 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_3317ed50_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_77834622 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_71caf0f9 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_71caf0f9_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_36b0cd2b { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_78daf9e2 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_5781a0dc { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_5781a0dc_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_11a8d0aa { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:39px; background:none;  }
#container_5c52286 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_5c52286_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_2b3a9392 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_39f8b635 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_39f8b635_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_41c86599 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_56883fc8 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_11a2bf6d { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_11a2bf6d_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_3b3c44be { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:39px; background:none;  }
#container_2826552f { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_2826552f_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_6d4cb0cf { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_5280ec09 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_5280ec09_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_34f22d68 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_141bb36b { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_433b5534 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_433b5534_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_739d0701 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:39px; background:none;  }
#container_1c88eff6 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_1c88eff6_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_36c1016f { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_724dda32 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_724dda32_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_7f68e311 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_72012546 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_5ea26dba { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_5ea26dba_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_6e3b8571 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:900px; background:none;  }
#container_4d9c127f { vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:20px; background-color:#000000;  }
#container_4c89c06c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:25px; background:none;  }
#container_4c89c06c_padding { margin: 10px; display: block;  }
#container_786a80a3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:204px; background:none;  }
#container_786a80a3_padding { margin: 10px; display: block;  }
.textstyle16 { text-align:center; }
#img_178a79d { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
#container_5e746ddf { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:37px; background:none;  }
#container_5e746ddf_padding { margin: 10px; display: block;  }
#text_633a707f { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle17 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_cf48b4d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:37px; background:none;  }
#container_cf48b4d_padding { margin: 10px; display: block;  }
#text_471df0ca { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle18 { font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_65e54e45 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:75px; background:none;  }
#container_65e54e45_padding { margin: 10px; display: block;  }
#text_25584305 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_4d60d7c7 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:37px; background:none;  }
#container_4d60d7c7_padding { margin: 10px; display: block;  }
#text_5d7f20b { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_6bbbb2d4 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:45px; background:none;  }
#container_6bbbb2d4_padding { margin: 10px; display: block;  }
#text_7c76a91 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_27f7779 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:37px; background:none;  }
#container_27f7779_padding { margin: 10px; display: block;  }
#text_d3d919e { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_623d83d1 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:92px; background:none;  }
#container_623d83d1_padding { margin: 10px; display: block;  }
#text_1a734a3b { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
