h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_aace7c9 a { text-decoration: none; }
#menu_aace7c9_pane { background-color: #E6E6E6; border: 1px solid #E6E6E6; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_aace7c9_hr { background-color: #E6E6E6; height: 1px; border: none; }
#menu_aace7c9_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_aace7c9_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_aace7c9_entry:hover span { color:#FFFFFF !important; }
		.menu_aace7c9_mainMenuEntry { text-align: center; }
		.menu_aace7c9_mainMenuEntry:hover {	background-color:#282828; }
		.menu_aace7c9_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_aace7c9 .mobileEntry { display: none; } 
		#menu_aace7c9 .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_aace7c9 .mobileEntry { display: block; } 
			#menu_aace7c9 .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#menu_aace7c9 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background:none; border: 1px solid #A0A0A0;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle2 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:65px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:19px;  }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#403EBF; font-weight:bold;  white-space: nowrap; }
.menustyle3 { position:absolute; width:66px; height:38px; left:75px;  }
.menustyle4 { position:absolute; width:83px; height:38px; left:141px;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#403EBF; font-weight:bold; text-decoration:underline;  white-space: nowrap; }
.menustyle5 { position:absolute; width:80px; height:38px; left:224px;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold; text-decoration:underline;  white-space: nowrap; }
#container_99ca00f { vertical-align: top; border-radius: 15px; position:relative; display: inline-block; width:101%; min-height:1125px; background-color:#007180; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_541d6bc3 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:900px; background-color:#FFFFFF;  }
#container_541d6bc3_padding { margin: 10px; display: block;  }
#container_54f2a8b0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_54f2a8b0_padding { margin: 10px; display: block;  }
#text_3bcc0255 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle6 { font-size:24pt; font-family:Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif; color:#000000; font-weight:bold; text-decoration:underline;  }
#container_44b8d1a7 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_44b8d1a7_padding { margin: 10px; display: block;  }
#text_11dfe6cb { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle7 { font-size:14pt; font-family:Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif; color:#007180;  }
#container_228c6201 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; background:none;  }
#container_228c6201_padding { margin: 10px; display: block;  }
#text_1273c1a3 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle8 { font-size:14pt; font-family:Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif; color:#000000;  }
.textstyle9 { font-size:12pt; font-family:Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif; color:#000000;  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_11c0f582 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:22px; background-color:#FFFFFF; background: linear-gradient(to bottom, #007180, #FFFFFF);  }
#container_11c0f582_padding { margin: 10px; display: block;  }
#heading_385ad94 { vertical-align: bottom; position:relative; display: inline-block; width:240px; background:none; font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
#text_9c43d5 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle11 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_60684e9e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:20px; background:none;  }
#container_60684e9e_padding { margin: 10px; display: block;  }
#container_4464e490 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:22px; background-color:#FFFFFF; background: linear-gradient(to bottom, #007180, #FFFFFF);  }
#container_4464e490_padding { margin: 10px; display: block;  }
#heading_758d54be { vertical-align: bottom; position:relative; display: inline-block; width:240px; background:none; font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
#container_30d7c43a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:129px; background:none;  }
#container_38fdd1b7 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_38fdd1b7_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_799faa09 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle12 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_45067734 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_45067734_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_480f148f { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_6b745b6 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_3bce217 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_3bce217_padding { margin: 0px 0px 0px 10px;display: block;  }
.textstyle13 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#007180;  }
#container_1f132269 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_6d9f21fa { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_6d9f21fa_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_1f36fdbc { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_1f36fdbc_padding { margin: 10px; display: block;  }
#text_312992db { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_5e4f7768 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:112px; background:none;  }
#container_6fe1e855 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_6fe1e855_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_113d0a74 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_5a6032c { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_5a6032c_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_5836ffdb { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_2bea4f79 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_7895779c { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_7895779c_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_2921aad6 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_7bb89573 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_7bb89573_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_1f7e26ab { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_1f7e26ab_padding { margin: 10px; display: block;  }
#text_60406e3f { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_24202e2a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:109px; background:none;  }
#container_4b558e04 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_4b558e04_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_1b8cd1f5 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_22b20da6 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_22b20da6_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_764b5da5 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_19b5f68d { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_4fb911e9 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_4fb911e9_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_221c6a2f { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_cc76a48 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_cc76a48_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_6dae890d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_6dae890d_padding { margin: 10px; display: block;  }
#text_437520f8 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_60da7f46 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:117px; background:none;  }
#container_2b437ece { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_2b437ece_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_64cc4149 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_485b185d { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_485b185d_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_303403ae { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_4f4ecf1e { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_3b51b734 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_3b51b734_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_4e39dad9 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_449500d8 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_449500d8_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_416b999a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_416b999a_padding { margin: 10px; display: block;  }
#text_43aa771d { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_36a8b5e9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:154px; background:none;  }
#container_395534f4 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_395534f4_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_3c2a5032 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_55752a2b { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_55752a2b_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_4419f323 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_44c761c4 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_1cb339f1 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_1cb339f1_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_41062a6 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_7c8561eb { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_7c8561eb_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_7ae487ab { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_7ae487ab_padding { margin: 10px; display: block;  }
#text_2e2148b8 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_2a298eed { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:154px; background:none;  }
#container_56056c67 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_56056c67_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_567aca6e { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_601aa4ff { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_601aa4ff_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_baeb9a4 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_12b10353 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_10daf8a2 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_10daf8a2_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_b3f86bb { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_6dc1697b { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_6dc1697b_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_1c9aba35 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_1c9aba35_padding { margin: 10px; display: block;  }
#text_4288bce1 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_1b386623 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:154px; background:none;  }
#container_40ebd3c1 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_40ebd3c1_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_6dc55ba2 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_4d9a2ef0 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_4d9a2ef0_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_204a982e { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_4bf64079 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_62dbe108 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_62dbe108_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_64a7a843 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_6a1f4cea { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_6a1f4cea_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_465b3dd6 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_465b3dd6_padding { margin: 10px; display: block;  }
#text_5f75fe66 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_4910413c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:154px; background:none;  }
#container_2c197513 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_2c197513_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_3eba93c7 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_40b9e1e9 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_40b9e1e9_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_6ae74d74 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_40dbae98 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_67728f1a { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_67728f1a_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_773abc5b { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_64cbb353 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_64cbb353_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_5945b637 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_5945b637_padding { margin: 10px; display: block;  }
#text_1d537268 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_2c62af77 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:112px; background:none;  }
#container_36904b9a { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_36904b9a_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_1073027a { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_4be9520d { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_4be9520d_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_5b61ea88 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_4083a7ec { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_3f6da125 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_3f6da125_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_3c572937 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_4ecc1bea { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_4ecc1bea_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_abd1113 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_abd1113_padding { margin: 10px; display: block;  }
#text_6ccaf7c9 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_cba4cba { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:71px; background:none;  }
#container_1cfb4ca6 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_1cfb4ca6_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_38f6834d { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_250db621 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_250db621_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_47a6b65f { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_5787c709 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_3aaafbb6 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_3aaafbb6_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_3834f6bf { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_4308f378 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_4308f378_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_b9b6ebc { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:23px; background:none;  }
#container_b9b6ebc_padding { margin: 10px; display: block;  }
#text_7e8b9751 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_64f50e9e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:71px; background:none;  }
#container_79116306 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_79116306_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_20425150 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_38187a03 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_38187a03_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_12e5e63d { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_4ba0c34f { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_4e2041e6 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_4e2041e6_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_6df79412 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_1de1103f { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_1de1103f_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_3a8b272b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_3a8b272b_padding { margin: 10px; display: block;  }
#text_2f149517 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_30b33c64 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:71px; background:none;  }
#container_a5619fa { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_a5619fa_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_7e258975 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_72bedb22 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_72bedb22_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_29b270f6 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_2b970640 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_42021b19 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_42021b19_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_3e4a1efa { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_1e0f0ed2 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_1e0f0ed2_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_efcc983 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:28px; background:none;  }
#container_efcc983_padding { margin: 10px; display: block;  }
#text_4d610498 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_8fcf55c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:71px; background:none;  }
#container_30937e91 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_30937e91_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_54eccbf6 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_2673cda7 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_2673cda7_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_1f7b86ec { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_eaea99e { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_4b3ae9fb { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_4b3ae9fb_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_9549f92 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_1f2f780e { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_1f2f780e_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_371acb38 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:28px; background:none;  }
#container_371acb38_padding { margin: 10px; display: block;  }
#text_f38d05e { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_2b5ed20c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:20px; background:none;  }
#container_2b5ed20c_padding { margin: 10px; display: block;  }
#container_5c37fd73 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:22px; background-color:#FFFFFF; background: linear-gradient(to bottom, #007180, #FFFFFF);  }
#container_5c37fd73_padding { margin: 10px; display: block;  }
#heading_7439ee00 { vertical-align: bottom; position:relative; display: inline-block; width:240px; background:none; font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
#container_75a525b2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:45px; background:none;  }
#container_f39e300 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_f39e300_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_3d58bfa8 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_68e4b288 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_68e4b288_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_20a8cbd2 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_4c78d675 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_77e4faca { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_77e4faca_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_7c7379d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:39px; background:none;  }
#container_5e3d4c0c { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_5e3d4c0c_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_27cdb73f { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_ebf09be { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_ebf09be_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_762a5bef { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_79aed9d8 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_65adeb23 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_65adeb23_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_26091ac5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:39px; background:none;  }
#container_5f610a27 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_5f610a27_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_4d34f315 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_5a6bf4c2 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_5a6bf4c2_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_50623be9 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_10128577 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_401a10b9 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_401a10b9_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_60671fa { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:39px; background:none;  }
#container_388434eb { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_388434eb_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_76efbcba { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_f5bcd6 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_f5bcd6_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_14c538a1 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_41fb6381 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_b542764 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_b542764_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_6d9b9a4c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:39px; background:none;  }
#container_20e5ca5 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_20e5ca5_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_52e09e69 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_2c2bf4d8 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_2c2bf4d8_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_3b3807ea { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_ea101d0 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_50a5c51a { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_50a5c51a_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_63a4c500 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:900px; background:none;  }
#container_2b1a1ed5 { vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:20px; background-color:#000000;  }
#container_3420e85a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:25px; background:none;  }
#container_3420e85a_padding { margin: 10px; display: block;  }
#container_7f03f7ab { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:204px; background:none;  }
#container_7f03f7ab_padding { margin: 10px; display: block;  }
.textstyle14 { text-align:center; }
#img_33d03df { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
#container_3e8f3b69 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:37px; background:none;  }
#container_3e8f3b69_padding { margin: 10px; display: block;  }
#text_77afe44 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle15 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_2c808ff0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:37px; background:none;  }
#container_2c808ff0_padding { margin: 10px; display: block;  }
#text_439510eb { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle16 { font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_663a04ec { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:75px; background:none;  }
#container_663a04ec_padding { margin: 10px; display: block;  }
#text_3ed1d252 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_3fbedc83 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:37px; background:none;  }
#container_3fbedc83_padding { margin: 10px; display: block;  }
#text_e5005bd { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_20e52dc9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:45px; background:none;  }
#container_20e52dc9_padding { margin: 10px; display: block;  }
#text_4cd96ca5 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_73d18eb3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:37px; background:none;  }
#container_73d18eb3_padding { margin: 10px; display: block;  }
#text_3a5a60d7 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_32d74665 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:92px; background:none;  }
#container_32d74665_padding { margin: 10px; display: block;  }
#text_52ded656 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
