h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_1a85c4de a { text-decoration: none; }
#menu_1a85c4de_pane { background-color: #E6E6E6; border: 1px solid #E6E6E6; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_1a85c4de_hr { background-color: #E6E6E6; height: 1px; border: none; }
#menu_1a85c4de_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_1a85c4de_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_1a85c4de_entry:hover span { color:#FFFFFF !important; }
		.menu_1a85c4de_mainMenuEntry { text-align: center; }
		.menu_1a85c4de_mainMenuEntry:hover {	background-color:#282828; }
		.menu_1a85c4de_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_1a85c4de .mobileEntry { display: none; } 
		#menu_1a85c4de .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_1a85c4de .mobileEntry { display: block; } 
			#menu_1a85c4de .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#menu_1a85c4de { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background:none; border: 1px solid #A0A0A0;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle2 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:65px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:19px;  }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold; text-decoration:underline;  white-space: nowrap; }
.menustyle3 { position:absolute; width:66px; height:38px; left:75px;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#403EBF; font-weight:bold;  white-space: nowrap; }
.menustyle4 { position:absolute; width:83px; height:38px; left:141px;  }
.menustyle5 { position:absolute; width:80px; height:38px; left:224px;  }
.menustyle6 { position:absolute; width:62px; height:38px; left:304px;  }
#container_75a780d4 { vertical-align: top; border-radius: 15px; position:relative; display: inline-block; width:101%; min-height:1125px; background-color:#007180; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_5b7be53 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:900px; background-color:#FFFFFF;  }
#container_5b7be53_padding { margin: 10px; display: block;  }
#container_5a9f886d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_5a9f886d_padding { margin: 10px; display: block;  }
#text_56aec325 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle5 { font-size:24pt; font-family:Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif; color:#000000; font-weight:bold; text-decoration:underline;  }
#container_dfedc4 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_dfedc4_padding { margin: 10px; display: block;  }
#text_a2ea536 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle6 { font-size:14pt; font-family:Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif; color:#007180;  }
#container_483232ce { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; background:none;  }
#container_483232ce_padding { margin: 10px; display: block;  }
#text_4b8ac3c7 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle7 { font-size:14pt; font-family:Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif; color:#000000;  }
.textstyle8 { font-size:12pt; font-family:Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif; color:#000000;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_3b5f3f25 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:22px; background-color:#FFFFFF; background: linear-gradient(to bottom, #007180, #FFFFFF);  }
#container_3b5f3f25_padding { margin: 10px; display: block;  }
#heading_6008bb2e { vertical-align: bottom; position:relative; display: inline-block; width:240px; background:none; font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
#text_1e69e5c9 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle10 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_594183a4 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:20px; background:none;  }
#container_594183a4_padding { margin: 10px; display: block;  }
#container_21c7f6f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:22px; background-color:#FFFFFF; background: linear-gradient(to bottom, #007180, #FFFFFF);  }
#container_21c7f6f_padding { margin: 10px; display: block;  }
#heading_19d28473 { vertical-align: bottom; position:relative; display: inline-block; width:240px; background:none; font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
#container_3e86ccdb { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:129px; background:none;  }
#container_4b35f039 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_4b35f039_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_7a06fb91 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle11 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_3dcb90c1 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_3dcb90c1_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_9a7b9c9 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_541cc4d { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_1ed498b3 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_1ed498b3_padding { margin: 0px 0px 0px 10px;display: block;  }
.textstyle12 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#007180;  }
#container_179fa826 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_e1040de { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_e1040de_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_11b0438c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:76px; background:none;  }
#container_11b0438c_padding { margin: 10px; display: block;  }
#text_25c626af { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_b26edf4 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:112px; background:none;  }
#container_2804dca1 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_2804dca1_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_cab829f { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_66a77ee4 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_66a77ee4_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_3871a6fa { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_6daea329 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_53ab4ba8 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_53ab4ba8_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_4a3a06c5 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_fd5b189 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_fd5b189_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_34477081 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:21px; background:none;  }
#container_34477081_padding { margin: 10px; display: block;  }
#text_6bc5fd87 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_78d937b7 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:109px; background:none;  }
#container_3ffe03ee { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_3ffe03ee_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_44d5ed97 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_67a1d7e2 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_67a1d7e2_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_29fc6b91 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_11f407ce { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_397e434b { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_397e434b_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_4bd4b1e1 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_cde0047 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_cde0047_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_12b12d9a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_12b12d9a_padding { margin: 10px; display: block;  }
#text_2b1b164e { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_7b9e1d04 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:117px; background:none;  }
#container_69316f42 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_69316f42_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_4647d581 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_4f91f0c9 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_4f91f0c9_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_6a15a8eb { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_2d062635 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_35a78225 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_35a78225_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_47758b79 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_2873ed29 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_2873ed29_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_ea6bc91 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_ea6bc91_padding { margin: 10px; display: block;  }
#text_5f5ee9dd { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_47969906 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:137px; background:none;  }
#container_2e52056e { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_2e52056e_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_45bf0335 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_776f9fb7 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_776f9fb7_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_3b876f35 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_70ad2110 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_3ff37bcc { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_3ff37bcc_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_6ea2fd9d { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_c6641e8 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_c6641e8_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_7fa120bc { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_7fa120bc_padding { margin: 10px; display: block;  }
#text_186163be { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_3723208e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:154px; background:none;  }
#container_3bd54410 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_3bd54410_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_278f0425 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_5f95e7b0 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_5f95e7b0_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_2052e7db { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_3ea0fed2 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_f0421be { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_f0421be_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_4a9af10c { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_3ccd43ed { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_3ccd43ed_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_339cfa { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:88px; background:none;  }
#container_339cfa_padding { margin: 10px; display: block;  }
#text_c142888 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_7cbf515b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:118px; background:none;  }
#container_7b26615d { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_7b26615d_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_1140f222 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_1b7a615c { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_1b7a615c_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_38dcc3d7 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_4d4382a7 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_4f58eb8e { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_4f58eb8e_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_1f0c1f09 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_12daa2b2 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_12daa2b2_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_1dd26cd { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_1dd26cd_padding { margin: 10px; display: block;  }
#text_44bdc134 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_40e87384 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:117px; background:none;  }
#container_5527f79a { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_5527f79a_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_554fe58f { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_514d2553 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_514d2553_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_1af30062 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_6ef42153 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_6dc700a4 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_6dc700a4_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_769eeeb7 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_275fbf4a { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_275fbf4a_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_7cd148eb { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_7cd148eb_padding { margin: 10px; display: block;  }
#text_23114cfc { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_24ee9737 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:112px; background:none;  }
#container_74e8ad68 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_74e8ad68_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_958acde { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_42e5494b { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_42e5494b_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_4616f1fe { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_22fd5893 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_364d68f7 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_364d68f7_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_10db2fb0 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_586c6f3e { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_586c6f3e_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_4d5376c2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_4d5376c2_padding { margin: 10px; display: block;  }
#text_373652be { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_3ee130ad { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:71px; background:none;  }
#container_6af91d51 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_6af91d51_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_36092453 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_4eca213d { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_4eca213d_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_598a7e43 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_71a7ebef { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_7833a8d7 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_7833a8d7_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_4e6666d0 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_6d6d0fc3 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_6d6d0fc3_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_738c3a1e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:23px; background:none;  }
#container_738c3a1e_padding { margin: 10px; display: block;  }
#text_2e11792d { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_35ba7929 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:71px; background:none;  }
#container_704a032b { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_704a032b_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_7aa90855 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_2affc1f2 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_2affc1f2_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_67deee8f { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_5545c291 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_401b77b6 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_401b77b6_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_1f6f53af { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_5f73c3c1 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_5f73c3c1_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_3c1faa89 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:51px; background:none;  }
#container_3c1faa89_padding { margin: 10px; display: block;  }
#text_59b7b6f5 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_689c9698 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:71px; background:none;  }
#container_60b29655 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_60b29655_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_63748a78 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_6366ab6f { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_6366ab6f_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_1c21f7bc { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_545b6478 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_4f83b619 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_4f83b619_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_64d8baf5 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_626f35e7 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_626f35e7_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_70a9d3b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:28px; background:none;  }
#container_70a9d3b_padding { margin: 10px; display: block;  }
#text_4330c70a { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_7b3a9019 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:71px; background:none;  }
#container_19559da3 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_19559da3_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_7d037229 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_78fae6aa { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_78fae6aa_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_2a12e664 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_77aee14e { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_24d71f8 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_24d71f8_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_76c147a8 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_7b016bd8 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_7b016bd8_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_3f6c1d6e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:28px; background:none;  }
#container_3f6c1d6e_padding { margin: 10px; display: block;  }
#text_2d828b8a { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_5219e707 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:20px; background:none;  }
#container_5219e707_padding { margin: 10px; display: block;  }
#container_3da9af00 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:22px; background-color:#FFFFFF; background: linear-gradient(to bottom, #007180, #FFFFFF);  }
#container_3da9af00_padding { margin: 10px; display: block;  }
#heading_746fb { vertical-align: bottom; position:relative; display: inline-block; width:240px; background:none; font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
#container_28baa5e8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:45px; background:none;  }
#container_47c8314 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_47c8314_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_1f98b212 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_7d6eadac { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_7d6eadac_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_5d45309b { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_8948010 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_549e4baf { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_549e4baf_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_40741c7 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:39px; background:none;  }
#container_518860ac { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_518860ac_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_6208c637 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_5dc02388 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_5dc02388_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_718109b3 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_560c7b80 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_7a716685 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_7a716685_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_83036ff { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:39px; background:none;  }
#container_fefb0df { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_fefb0df_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_1fb17606 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_17f69881 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_17f69881_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_945eaa6 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_6d213c66 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_7785595 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_7785595_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_2184c66f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:39px; background:none;  }
#container_652e1f73 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_652e1f73_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_67d92919 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_4da22525 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_4da22525_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_11d6026c { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_19ccd5 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_502d024 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_502d024_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_5834d472 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:39px; background:none;  }
#container_2de362e9 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_2de362e9_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_13fd8130 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_34173b44 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_34173b44_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_7cf75f07 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_75b2acaf { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_756ec1b4 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_756ec1b4_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_19fa066c { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:900px; background:none;  }
#container_12642722 { vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:20px; background-color:#000000;  }
#container_57b27e8e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:25px; background:none;  }
#container_57b27e8e_padding { margin: 10px; display: block;  }
#container_40a63007 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:204px; background:none;  }
#container_40a63007_padding { margin: 10px; display: block;  }
.textstyle13 { text-align:center; }
#img_30582eb4 { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
#container_11a0051 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:37px; background:none;  }
#container_11a0051_padding { margin: 10px; display: block;  }
#text_18fb9fa2 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle14 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_63b62da2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:37px; background:none;  }
#container_63b62da2_padding { margin: 10px; display: block;  }
#text_7a45e9aa { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle15 { font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_15221285 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:75px; background:none;  }
#container_15221285_padding { margin: 10px; display: block;  }
#text_2c014312 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_6631db7e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:37px; background:none;  }
#container_6631db7e_padding { margin: 10px; display: block;  }
#text_2d7867c0 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_1afc0df5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:45px; background:none;  }
#container_1afc0df5_padding { margin: 10px; display: block;  }
#text_48fb1af6 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_3eb5e884 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:37px; background:none;  }
#container_3eb5e884_padding { margin: 10px; display: block;  }
#text_b2ed4b0 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_53b667cc { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:92px; background:none;  }
#container_53b667cc_padding { margin: 10px; display: block;  }
#text_5e4ff2c4 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
