h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_5066de7 a { text-decoration: none; }
#menu_5066de7_pane { background-color: #E6E6E6; border: 1px solid #E6E6E6; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_5066de7_hr { background-color: #E6E6E6; height: 1px; border: none; }
#menu_5066de7_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_5066de7_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_5066de7_entry:hover span { color:#FFFFFF !important; }
		.menu_5066de7_mainMenuEntry { text-align: center; }
		.menu_5066de7_mainMenuEntry:hover {	background-color:#282828; }
		.menu_5066de7_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_5066de7 .mobileEntry { display: none; } 
		#menu_5066de7 .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_5066de7 .mobileEntry { display: block; } 
			#menu_5066de7 .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#menu_5066de7 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background:none; border: 1px solid #A0A0A0;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle2 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:67px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:19px;  }
.textstyle3 { font-size:12pt; font-family:Tahoma, Geneva, sans-serif; color:#403EBF; font-weight:bold;  white-space: nowrap; }
.menustyle3 { position:absolute; width:69px; height:38px; left:77px;  }
.menustyle4 { position:absolute; width:85px; height:38px; left:146px;  }
.textstyle4 { font-size:12pt; font-family:Tahoma, Geneva, sans-serif; color:#403EBF; font-weight:bold; text-decoration:underline;  white-space: nowrap; }
.menustyle5 { position:absolute; width:87px; height:38px; left:231px;  }
.menustyle6 { position:absolute; width:83px; height:38px; left:318px;  }
.menustyle7 { position:absolute; width:62px; height:38px; left:401px;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#403EBF; font-weight:bold;  white-space: nowrap; }
.textstyle6 { font-size:12pt; font-family:Tahoma, Geneva, sans-serif; color:#000000; font-weight:bold; text-decoration:underline;  white-space: nowrap; }
#container_5144debd { vertical-align: top; border-radius: 15px; position:relative; display: inline-block; width:101%; min-height:1125px; background-color:#007180; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_777f1ab7 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:900px; background-color:#FFFFFF;  }
#container_777f1ab7_padding { margin: 10px; display: block;  }
#container_5832bdb0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_5832bdb0_padding { margin: 10px; display: block;  }
#text_61d9f316 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle7 { font-size:24pt; font-family:Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif; color:#000000; font-weight:bold; text-decoration:underline;  }
#container_4d8e388c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_4d8e388c_padding { margin: 10px; display: block;  }
#text_32d1fa47 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle8 { font-size:14pt; font-family:Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif; color:#007180;  }
#container_161ec743 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:30px; background:none;  }
#container_161ec743_padding { margin: 10px; display: block;  }
#text_146bfd94 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle9 { font-size:14pt; font-family:Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif; color:#000000;  }
.textstyle10 { font-size:12pt; font-family:Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif; color:#000000;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_5f4336b5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:22px; background-color:#FFFFFF; background: linear-gradient(to bottom, #007180, #FFFFFF);  }
#container_5f4336b5_padding { margin: 10px; display: block;  }
#heading_4846ea70 { vertical-align: bottom; position:relative; display: inline-block; width:240px; background:none; font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
#text_647ebe36 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle12 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_5b58a906 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:20px; background:none;  }
#container_5b58a906_padding { margin: 10px; display: block;  }
#container_494122af { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:22px; background-color:#FFFFFF; background: linear-gradient(to bottom, #007180, #FFFFFF);  }
#container_494122af_padding { margin: 10px; display: block;  }
#heading_5d58c04 { vertical-align: bottom; position:relative; display: inline-block; width:240px; background:none; font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
#container_10272609 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:129px; background:none;  }
#container_edd512b { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_edd512b_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_431bdac9 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle13 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_426c837b { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_426c837b_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_48e375d8 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_1d5685db { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_5d382dba { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_5d382dba_padding { margin: 0px 0px 0px 10px;display: block;  }
.textstyle14 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#007180;  }
#container_1cc9b4a9 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_6de343db { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_6de343db_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_c422421 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_c422421_padding { margin: 10px; display: block;  }
#text_1659be5 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_6b31ec4e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:112px; background:none;  }
#container_7beed78d { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_7beed78d_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_9442a13 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_1490b6d6 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_1490b6d6_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_6adf2e39 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_263f35e2 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_77af08f6 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_77af08f6_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_64e643d7 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_49d139d8 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_49d139d8_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_67c656a6 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_67c656a6_padding { margin: 10px; display: block;  }
#text_53026226 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_76406047 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:109px; background:none;  }
#container_715669c4 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_715669c4_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_5c2cab9e { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_6467e4a4 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_6467e4a4_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_4738a292 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_c919f45 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_5b279187 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_5b279187_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_37d57df3 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_64a3fd33 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_64a3fd33_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_287b97ec { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_287b97ec_padding { margin: 10px; display: block;  }
#text_5dc15a0d { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_48b31db1 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:117px; background:none;  }
#container_1c817539 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_1c817539_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_11df568a { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_6516f50e { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_6516f50e_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_59a4f99 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_3c582c9b { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_6fdb1033 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_6fdb1033_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_21d38e98 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_4fce93d9 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_4fce93d9_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_7b655357 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_7b655357_padding { margin: 10px; display: block;  }
#text_26982c48 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_45b55a76 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:154px; background:none;  }
#container_5f033e88 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_5f033e88_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_10224cb5 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_3f6c47e { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_3f6c47e_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_147dd5a4 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_5182dfc { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_477382eb { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_477382eb_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_18d9ae37 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_91e0268 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_91e0268_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_43ded8e0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_43ded8e0_padding { margin: 10px; display: block;  }
#text_3a92ef88 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_4384cf5e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:154px; background:none;  }
#container_52e336b0 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_52e336b0_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_3cb4dd3e { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_32de9488 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_32de9488_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_5c0ef273 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_53c10965 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_782e733d { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_782e733d_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_1175a52f { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_4029890a { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_4029890a_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_37eddc0e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_37eddc0e_padding { margin: 10px; display: block;  }
#text_1cc9ef2c { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_5be1a467 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:154px; background:none;  }
#container_56f73e7d { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_56f73e7d_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_7ca1bf32 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_523b716d { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_523b716d_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_110cb512 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_5c110c6c { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_4659b2a4 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_4659b2a4_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_3c155b53 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_7300d6d8 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_7300d6d8_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_16bce4b6 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_16bce4b6_padding { margin: 10px; display: block;  }
#text_414dc7d4 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_19d572c2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:154px; background:none;  }
#container_5c64505c { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_5c64505c_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_79a4f793 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_935249b { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_935249b_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_1349acb3 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_533bb445 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_2e8ef040 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_2e8ef040_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_e59888c { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_6fade1b9 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_6fade1b9_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_2557641d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_2557641d_padding { margin: 10px; display: block;  }
#text_7426c0b { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_16e9a486 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:112px; background:none;  }
#container_a57308c { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_a57308c_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_2b1d2a8f { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_2770c7c3 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_2770c7c3_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_32f86306 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_5527ee3e { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_4f8031df { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_4f8031df_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_6781c43c { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_3f491671 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_3f491671_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_4638753d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_4638753d_padding { margin: 10px; display: block;  }
#text_468034bf { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_57986b2c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:71px; background:none;  }
#container_fd51b7f { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_fd51b7f_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_1e29b66d { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_117523d4 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_117523d4_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_6fd81355 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_7d6e006 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_171ab194 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_171ab194_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_747350bd { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_2a4a41e0 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_2a4a41e0_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_5223f90 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:23px; background:none;  }
#container_5223f90_padding { margin: 10px; display: block;  }
#text_7170da91 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_72bf879d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:71px; background:none;  }
#container_14cac12b { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_14cac12b_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_7491c345 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_58e50109 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_58e50109_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_1153e9d8 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_6424726f { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_71d6884f { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_71d6884f_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_a98c4fd { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_633cb30c { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_633cb30c_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_63318ee { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_63318ee_padding { margin: 10px; display: block;  }
#text_721e22fa { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_1ff95ed9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:71px; background:none;  }
#container_625ef2e8 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_625ef2e8_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_537e61f4 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_1f959049 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_1f959049_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_69c0b90c { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_2000ec98 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_130df8ae { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_130df8ae_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_568551bf { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_3fee4cf5 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_3fee4cf5_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_bf3642b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:28px; background:none;  }
#container_bf3642b_padding { margin: 10px; display: block;  }
#text_1bdc721b { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_a235bed { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:71px; background:none;  }
#container_7c7c21ca { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_7c7c21ca_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_43c13c6e { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_2b5d2532 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_2b5d2532_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_51f0afb9 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_1c839ff2 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_6a4e3ed0 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_6a4e3ed0_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_2892038c { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#text_498cc9c9 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_498cc9c9_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_7b044459 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:28px; background:none;  }
#container_7b044459_padding { margin: 10px; display: block;  }
#text_62d4a87f { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_6c9ea786 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:20px; background:none;  }
#container_6c9ea786_padding { margin: 10px; display: block;  }
#container_731f918a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:22px; background-color:#FFFFFF; background: linear-gradient(to bottom, #007180, #FFFFFF);  }
#container_731f918a_padding { margin: 10px; display: block;  }
#heading_3674f0ce { vertical-align: bottom; position:relative; display: inline-block; width:240px; background:none; font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
#container_3af76499 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:45px; background:none;  }
#container_64298845 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_64298845_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_1a297316 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_2a54c4e5 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_2a54c4e5_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_2a84214d { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_51d35ccd { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_711dce20 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_711dce20_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_54031b99 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:39px; background:none;  }
#container_7e64348f { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_7e64348f_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_508b03a0 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_38f8edd { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_38f8edd_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_7f04dcb7 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_2f8cf9e5 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_54d2f2f0 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_54d2f2f0_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_66028d27 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:39px; background:none;  }
#container_4e07d171 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_4e07d171_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_33159d6a { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_13502113 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_13502113_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_5ce0933f { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_73cdf1a6 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_7bfaa596 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_7bfaa596_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_460c3671 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:39px; background:none;  }
#container_4d923cd0 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_4d923cd0_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_314807f4 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_5ea55140 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_5ea55140_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_3e294248 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_1a0de39a { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_67d57252 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_67d57252_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_2b419df2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:39px; background:none;  }
#container_3a3a25a7 { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#container_3a3a25a7_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_62ef490a { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_4f0b4b21 { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:10px; background:none;  }
#container_4f0b4b21_padding { margin: 10px 10px 0px 10px;display: block;  }
#text_58c73d91 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_38f803b { vertical-align: top; position:relative; display: inline-block; width:70%; min-height:11px; background:none;  }
#text_75eeee4f { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#text_75eeee4f_padding { margin: 0px 0px 0px 10px;display: block;  }
#container_2028542a { vertical-align: top; position:relative; display: inline-block; width:30%; min-height:900px; background:none;  }
#container_a88fb7f { vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:20px; background-color:#000000;  }
#container_15d4d079 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:25px; background:none;  }
#container_15d4d079_padding { margin: 10px; display: block;  }
#container_279bbf90 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:204px; background:none;  }
#container_279bbf90_padding { margin: 10px; display: block;  }
.textstyle15 { text-align:center; }
#img_60dd4bf7 { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
#container_6843d86d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:37px; background:none;  }
#container_6843d86d_padding { margin: 10px; display: block;  }
#text_40bb7d8e { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle16 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_32324848 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:37px; background:none;  }
#container_32324848_padding { margin: 10px; display: block;  }
#text_60c5f54d { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
.textstyle17 { font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_1bc5f2b3 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:75px; background:none;  }
#container_1bc5f2b3_padding { margin: 10px; display: block;  }
#text_24975831 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_4ac1eb08 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:37px; background:none;  }
#container_4ac1eb08_padding { margin: 10px; display: block;  }
#text_703d3ecd { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_32229132 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:45px; background:none;  }
#container_32229132_padding { margin: 10px; display: block;  }
#text_1ecbcdda { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_1c2f20dc { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:37px; background:none;  }
#container_1c2f20dc_padding { margin: 10px; display: block;  }
#text_735523b7 { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
#container_3da42f1c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:92px; background:none;  }
#container_3da42f1c_padding { margin: 10px; display: block;  }
#text_15daa2dc { vertical-align: bottom; position:relative; display: inline-block; background:none;  }
