.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.collapsible {
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
}

.active,
.collapsible:hover {
    background-color: #34495e;
}